<mat-toolbar color="primary">
  <span>Taxas Enjoei</span>
</mat-toolbar>

<div class="container">
  <mat-grid-list cols="1" rowHeight="65px">
    <mat-grid-tile class="info-text">
      Descubra o quanto você vai pagar de taxas para o Enjoei
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput color="accent" placeholder="Preço do Produto" [(ngModel)]="price" type="number">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-slide-toggle class="toggle-enjoei-pro" color="primary" [(ngModel)]="enjoeiPro">
        Enjoei Pro
      </mat-slide-toggle>
      <mat-slide-toggle class="toggle-enjoei-pro" color="primary" [(ngModel)]="shippingInsurance">
        Seguro Extravio
      </mat-slide-toggle>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="calculateTaxes(this.price)">Calcular</button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile>
      <mat-card class="price-card">
        <mat-card-content>
          <div class="price-header">
            Você lucrou
          </div>
          <div class="price">
            {{profit | currency:'BRL'}}
          </div>
          <div class="price-footer">
            {{percentProfit | percent:'2.2'}} do valor total
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="price-card">
        <mat-card-content>
          <div class="price-header">
            Taxa Enjoei
          </div>
          <div class="price">
            {{tax | currency:'BRL'}}
          </div>
          <div class="price-footer">
            {{percentTax | percent:'2.2'}} do valor total
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="commission-text">
    {{commission}}% de comissão do produto ({{ commissionPrice | currency:'BRL'}}) + tarifa de
    {{flatRate | currency:'BRL'}} + frete suavizator {{ shipping | currency:'BRL'}} + seguro contra extravio {{insurance | currency:'BRL'}}.
  </div>
  <mat-accordion class="expansion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mais informações
        </mat-panel-title>
        <mat-panel-description>
            Veja outras tarifas
          </mat-panel-description>
      </mat-expansion-panel-header>

      Tarifas
      <mat-list role="list">
        <mat-list-item role="listitem">
          <h4 mat-line>Saque: R$ 1,50</h4>
          <p mat-line>(para saques menores que R$ 200)</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <h4 mat-line>Manutenção: R$ 9,99 mensal</h4>
          <p mat-line>(somente para contas com saldo)</p>
          <p mat-line>(e sem movimentação há mais de 6 meses)</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <h4 mat-line>Frete Suavizator</h4>
          <p mat-line>Produtos com valor entre R$ 30 e R$ 149</p>
          <p mat-line>o enjoei cobra uma taxa de R$ 5</p>
          <p mat-line>se o valor for maior que R$ 150</p>
          <p mat-line>a coparticipação é de R$ 10.</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <h4 mat-line>Seguro Contra Extravio</h4>
          <p mat-line>O custo desse serviço é correspondente</p>
          <p mat-line>a 1% do valor da mercadoria negociada</p>
          <p mat-line>reduzido em R$19,50 acrescentada</p>
          <p mat-line>a taxa fixa de R$0,49.</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<footer class="disclaimer">
  Os cálculos foram feitos com base na <a href="https://www.enjoei.com.br/taxas" target="_blank">tabela de taxas</a> do
  site Enjoei.
</footer>
