<mat-toolbar color="primary">
  <span>Taxas Enjoei</span>
</mat-toolbar>

<div class="container">
  <div>
    <form class="price-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Preço do Produto">
      </mat-form-field>

      <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" (change)="toogleEnjoeiPro(this)">
        Enjoei Pro
      </mat-slide-toggle>
    </form>
  </div>
  <div>
    <mat-card>
      <mat-card-content>
        <div>
          Você vai ficar com
        </div>
        <div>
          R$ 20,00
        </div>
        <p>
          A comissão do produto + taxa representa 20% do valor do produto.
        </p>
      </mat-card-content>
    </mat-card>

  </div>
</div>
