@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";


body {
  margin: 0;
  font-family: Arial;
}

.container {
  min-height: calc(100vh - 114px);
  padding: 8px 8px 0 8px;
}

@media (max-width: 599px) {
  .container {
    min-height: calc(100vh - 106px);
    padding: 8px 8px 0 8px;
  }
}

.info-text {
  text-align: center;
}

.price-card {
  min-width: 90%;
  text-align: center;
}

.price {
  font-size: 30px;
}

.price-header {
  font-size: 18px;
  margin-bottom: 6px;
}

.price-footer {
  font-style: italic;
  font-size: 11px;
}

.commission-text {
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
}

.disclaimer {
  height: 50px;
  line-height: 20px;
  padding: 1% 20px;
  background: #e91e63;
  text-align: center;
}

.disclaimer a {
  color: rgba(255, 255, 255, 0.7);
}

.disclaimer a:hover {
  color: #e91e63;
}

.toggle-enjoei-pro {
  margin-left: 30px;
}


.expansion {
  margin: 10px;
}
